server:
  port: 30202

# spring 配置
spring:
  application:
    name: alinesno-infra-data-pipeline-boot
    id: 1977208705475227648
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dev_alinesno_infra_data_pipeline_v100?serverTimezone=GMT%2B8&zeroDateTimeBehavior=CONVERT_TO_NULL
    username: root
    password: adminer
  data:
    redis:
      host: 127.0.0.1
      port: 6379
#      password: aip@local
      database: 1
  flyway:
    locations: classpath:db/mysql
    baseline-on-migrate: true
    table: DBSWITCH_SCHEMA_HISTORY
    enabled: true
  devtools:
    restart:
      enabled: true

# actable配置
actable:
  table:
    auto: none
  model:
    pack: com.alinesno.infra.data.pipeline.entity;
  database:
    type: mysql
  index:
    prefix: alinesno_data_pipeline_idx_
  unique:
    prefix: alinesno_data_pipeline_uni_

# sa-token配置
sa-token:
  token-name: Authorization
  host-path: https://alinesno-infra-base-identity-auth-application.linesno.com
  sso:
    auth-url: ${sa-token.host-path}/login
    is-http: true
    check-ticket-url: ${sa-token.host-path}/prod-api/sso/checkTicket
    slo-url: ${sa-token.host-path}/prod-api/sso/signout
    get-data-url: ${sa-token.host-path}/prod-api/sso/getData
  sign:
    secret-key: kQwIOrYvnXmSDkwEiFngrKidMcdrgKor

# wechat token
alinesno:
  data:
    pipeline:
      workspacePath: ${user.home}/.infra-data-pipeline
  configuration:
    drivers-base-path: ${APP_DRIVERS_PATH:${user.home}/drivers}
  security:
    # 排除路径
    excludes:
      - /sso/**
      - /logout
      - /api/infra/base/platform/provider/**
  infra:
    gateway:
      host: https://alinesno-infra-base-gateway-proxy-application.linesno.com

